[2018-03-08 14:54] xet7 opened #1 "Widgetkit Plugin does not work"
_From @JamborJan on November 9, 2014 11:13_

Hi,

I have an "Critical Issues: No GD library available." in WordPress. I have themes and plugins from http://yootheme.com and they have the requirement to have the web server running with the GD library enabled.

Can this be changed or are there any concerns doing this?

Thanks
JJ

_Copied from original issue: dwrensha/wordpress-sandstorm#1_

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 12, 2014 13:21_

Hi @dwrensha, thanks for adding the GD option, when will it be possible to update the package via https://sandstorm.io/apps/?

As far as I know re-installing it from there should be enough once it has been updated.

JJ

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on November 12, 2014 14:7_

I've uploaded a new spk to my server. You can get it at:
`/install/304cb89dd54a6b8d9bf2fbd689488f13?url=http://dwrensha.ws/sandstorm-apps/wordpress.spk`

This version includes the GD library, but I've not yet been able to verify that it actually works.

I'm going to see if I can do some other updates and fixes before releasing to the official app list.

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 12, 2014 14:18_

Thanks a lot. That helped a bit. Plugins still not working, I have to check now what reason is next.

JJ

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 12, 2014 14:25_

Hi @dwrensha,

Now I saw 2 other requirements:
- PHP v5.2.4+
- PHP JSON Support

The version should be no issue but can you tell me something about the JSON support?

JJ

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on November 13, 2014 17:43_

Those requirements ought not to cause any trouble. JSON support should be included [automatically](http://php.net/manual/en/json.installation.php).

To understand what might be going wrong, I've been trying to get the NextGEN Gallery plugin working in Sandstorm. In that case, at least part of the problem is that the plugin is not completely compatible w

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 13, 2014 20:20_

Thanks so far. I'll try to find some more details. I let you know when I have more details.

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 26, 2014 10:50_

A simple look at the log brought the following:

[code]

When I take a look at the mentioned location I can find the files, e.g.

[code]

So I assume there is an issue accessing the files, is that right? Any idea how to solve this?

JJ

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 26, 2014 11:30_

As the default shipped templates are working I checked the source folders / files.

Permissions on file level:

My new template:

[code]

Other pre installed templates:

[code]

Permissions on parent folder level:

[code]

So basically it seems that there are "more" permissions.

What I have seen is that the template is not copied to the www folder whe

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on November 27, 2014 15:8_

Looks like somehow the URLs are not getting formed properly. This URL

[code]

should instead be

[code]

That is, the "var/wordpress" part should not show up in a URL.

Is it possible that the plugin is using `WP_PLUGIN_DIR` or `WP_CONTENT_DIR` somewhere that it should instead be using `WP_PLUGIN_URL` or `WP_CONTENT_URL`?

See http://codex.wordpress.org

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 28, 2014 13:28_

Hi @dwrensha ,

The URL you mentioned is not working.

Shouldn't the template be copied to the www folder after clicking the „regenerate public site“ button?

When I use a build in template I get a lot more files including the „wp-content“ directory:

[code]

When I us the template from yootheme.com I only have the following and the „wp-content“ is not

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on November 28, 2014 15:59_

The "Regenerate Public Site" button uses a recursive `wget` to crawl the site and create a copy of it as static content. If the wp-content directory is not included in the output, that indicates that there are no links that lead from "/" to anything in "/wp-content".

Maybe the plugin does some linking through javascript? That could possibly confuse `wg

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 28, 2014 16:3_

I can send you the template I'm trying to install if you like. I also could provide the widget-kit full version. Let me know how I can help best tracking down this issue.

Thanks!
JJ

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on November 28, 2014 22:25_

Argh. Looks like the plugin isn't happy with the way the Sandstorm app sets up symlinks. It's assuming that the wp-content directory is a subdirectory of the Wordpress root directory. In our case, the former is "/var/wordpress/wp-content" and the latter is "/sandstorm-read-only", and we have a symlink from "/sandstorm-read-only/wp-content" to "/var/word

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on November 28, 2014 22:52_

OK, understand. Whats the result of this: further working on making the Sandstorm WordPress port more compatible to most of the templates / plugins out there or stopping at this point?

JJ

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on December 1, 2014 1:2_

Alas, Widgetkit is probably not the only plugin that depends on [realpath()](http://php.net/manual/en/function.realpath.php) in this way.

Unfortunately, I don't see a good way to make further progress on this right now.

We would probably be able to make things work out straight out of the box if we:
 1) Used mysql instead of sqlite.
 2) Copied the whole

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on December 1, 2014 9:26_

Okay. Thanks for all your effort @dwrensha. I have to get more into details of how to port different apps with different technologies and maybe I will be able soon to really contribute to this rather than only asking questions.

I will do my "self education" and come back to this topic as soon as I see the chance that I can do something here. I see that

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on July 13, 2015 17:47_

Hey @dwrensha I know you guys are pretty busy these days, wanted to ask if it is rather likely or not that a solution like union file system will be introduced or not.

I would love to move some pages to sandstorm but at the moment most of them use themes and the widgetkit from those guys: http://yootheme.com/

If I can help with this let me know.

JJ

[2018-03-08 14:54] xet7 commented on #1
_From @dwrensha on July 15, 2015 13:22_

Unfortunately, I still haven't determined the best path forward here. I think Sandstorm is unlikely to support a union/overlay filesystem (at least any time soon). Another strategy we might take here could be to implement in Sandstorm a notion of "app add-on" so that WordPress plugins could be installed as sub-packages of the main WordPress spk. With this a

[2018-03-08 14:54] xet7 commented on #1
_From @JamborJan on July 15, 2015 15:31_

Thanks for sharing your thoughts on this topic. It is for sure the best idea to identify a use case which applies to other apps too and to find a proper solution based on that. Sorry when I write the same thing again here with my own words, it helps me understanding the issue and maybe get a better idea of it.

From my point of view the use case seems to b

[2018-03-08 15:02] xet7 opened #2 "web publishing takes a long time if there are many posts"
_From @dwrensha on March 9, 2015 22:7_

_Copied from original issue: dwrensha/wordpress-sandstorm#2_

[2018-03-08 15:02] xet7 commented on #2
_From @paulproteus on June 18, 2015 22:9_

I wonder if using a plugin like https://wordpress.org/support/plugin/really-static would let us "outsource" some of these issues.

[2018-03-08 15:03] xet7 opened #3 "Should use a WP plugin to integrate with sandstorm rather than a fork"
_From @yuvipanda on June 21, 2015 12:25_

WP is notorios for being insecure when left unupdated, and updating is hard when using forks :) Switch this to use a WP plugin than a fork.

_Copied from original issue: dwrensha/wordpress-sandstorm#4_

[2018-03-08 15:03] xet7 commented on #3
_From @ocdtrekkie on June 21, 2015 12:59_

Likely a good suggestion, but a counter thought is: What happens if you're running WordPress in Sandstorm and you disable your Sandstorm integration plugin and can no longer authenticate?

[2018-03-08 15:03] xet7 commented on #3
_From @dwrensha on July 15, 2015 15:49_

This is less of a problem on Sandstorm. The WordPress Sandstorm app only exposes static content to the outside world, disallows outgoing network requests, and is tightly sandboxed from the rest of your machine. There's a lot less to fear than with a standard WordPress install.

Much of the Sandstorm integration [is already in a plugin](https://github.com/dw

[2018-03-08 15:03] xet7 commented on #3
_From @meitar on April 25, 2016 21:21_

Some of these issues could be resolved by getting a little fancy with PHP's output buffering. You could `ob_start()` during your plugin's init and then during [a WP `shutdown` hook](https://developer.wordpress.org/reference/hooks/shutdown/) you could `ob_get_contents()`, replace the `target` attributes to your liking with [WP's `links_add_target()` function]

[2018-03-08 15:03] xet7 commented on #3
_From @dwrensha on April 25, 2016 23:35_

Wow, output buffering looks like it could really come in handy sometimes. I'm not sure that it is worth the trouble in this particular case, but it definitely seems useful to know about.

[2018-03-08 15:03] xet7 opened #4 "In the future, Sandstorm's Content Security Policy will block external content."
_From @dwrensha on July 15, 2015 15:8_

This will have an effect on:
1. gravatar usage in the admin area
2. themes using fonts.googleapis.com
3. other things, possibly

We'll want to replace gravatar with Sandstorm's own user profile features. For the fonts, maybe we can bundle them?

_Copied from original issue: dwrensha/wordpress-sandstorm#6_

[2018-03-08 15:03] xet7 commented on #4
_From @ocdtrekkie on July 15, 2015 15:10_

I bundled Google fonts that Scrumblr used. Stuff like jQuery as well may need to be bundled if WordPress uses it.

When WordPress allows people to upload their own themes, Google fonts may also be a problem.

[2018-03-08 15:03] xet7 commented on #4
_From @dwrensha on July 15, 2015 19:49_

I've learned that avatars can be turned off with `update_option('show_avatars', 0);` and they can be overridden through the pluggable [`get_avatar()`](https://codex.wordpress.org/Function_Reference/get_avatar) function.

[2018-03-08 15:03] xet7 commented on #4
_From @Ryman on June 22, 2016 23:38_

Looks like some oembed stuff doesn't work without curl, so I guess that's affected by this too? http://help.semplicelabs.com/customer/portal/questions/12932083-vimeo-embed-troubleshooting

[2018-03-08 15:03] xet7 opened #5 "Home button on generated public WP site calls wp-login.php"
_From @paulproteus on August 9, 2015 18:32_

@avcobe writes on https://github.com/sandstorm-io/sandstorm/issues/672

1) Generated a public site from the wp site built in the sandstorm server.
2) removed cookies and history (firefox on mac)
3) browsed to the site but could not go to homepage after leaving it for some other page on the site. (wp-login.php appended on the homepage url)

(I'm moving t

[2018-03-08 15:03] xet7 commented on #5
_From @dwrensha on August 11, 2015 20:44_

I'm not sure that I understand what the problem is here. @avcobe, what do you mean by "homepage"? Do you mean the admin panel? The only way that you'll be able to access the admin panel is through the Sandstorm shell; your published site should have no public link back to it. This a security feature. Compare it to the typical WordPress setup, in which the

[2018-03-08 15:03] xet7 commented on #5
_From @avcobe on August 12, 2015 0:18_

I mean the homepage on the site itself - not trying to log in.  One ends up having to manually take away the log in php suffix from the address to go back to the "homepage"

On 11 August 2015 21:44:12 GMT+01:00, David Renshaw notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-03-08 15:03] xet7 commented on #5
_From @dwrensha on August 12, 2015 0:23_

@avcobe I'm unable to reproduce that behavior. Could you link me a published site that exhibits this behavior? Or could you tell me more details about the content of the site? Did you import content from another WordPress install? What theme are you using? Are you using any plugins?

[2018-03-08 15:04] xet7 opened #6 "Error when trying to upload a theme"
_From @dwrensha on September 10, 2015 19:15_

@alisalaah says:

_Copied from original issue: dwrensha/wordpress-sandstorm#9_

[2018-03-08 15:04] xet7 commented on #6
_From @dwrensha on September 10, 2015 19:21_

@alisalaah: I am unable to reproduce this behavior. Could you provide me with some more details? Are you using the [latest version](https://apps.sandstorm.io/app/aax9j672p6z8n7nyupzvj2nmumeqd4upa0f7mgu8gprwmy53x04h)  of the WordPress app? What Sandstorm server are you running on -- Alpha, Demo, Oasis, or self-hosted? Can you link me to the theme so tha

[2018-03-08 15:04] xet7 commented on #6
_From @acamarata on September 10, 2015 23:38_

I am getting this on Oasis and using the latest zip for Avada theme which I
purchased from themeforest.

On Fri, Sep 11, 2015 at 2:21 AM, David Renshaw notifications@github.com
wrote:

[2018-03-08 15:04] xet7 commented on #6
_From @dwrensha on September 10, 2015 23:44_

I wonder whether it's that particular theme that's causing the problem. Could you try installing one of the free themes from https://wordpress.org/themes/ and let me know whether it works?

[2018-03-08 15:04] xet7 commented on #6
_From @acamarata on September 11, 2015 0:12_

A different theme worked but I was also wondering if it may be the file
size as the custom theme is 23.6MB.

On Fri, Sep 11, 2015 at 6:44 AM, David Renshaw notifications@github.com
wrote:

[2018-03-08 15:04] xet7 opened #7 "Failed to import Media during Wordpress xml Import"
_From @tiagoefreitas on September 11, 2015 10:33_

When importing a Wordpress export file, there is an option for it to download media from the original location.
It gives the error:

Failed to import Media

_Copied from original issue: dwrensha/wordpress-sandstorm#10_

[2018-03-08 15:04] xet7 commented on #7
_From @paulproteus on September 11, 2015 17:9_

This is because the WordPress package has no ​access to the Internet to
download those images.

David, it'd be nice if there were a way we could fix these sorts of import
issues, or (alternately) warn people on the "Import" page in the Sandstorm
WordPress package that they'll have to import images separately, with some
info on how to do that (maybe a

[2018-03-08 15:04] xet7 commented on #7
_From @andru on October 4, 2015 20:40_

Just got stung by this.  Any hint on how to move the media over during an import?

[2018-03-08 15:04] xet7 commented on #7
_From @paulproteus on October 5, 2015 5:53_

So @zarvox, when @jparyani and I were thinking about a related problem, Jason realized that we could turn certain web page inputs into powerbox actions.

So one thing we could do is have the WordPress "Import WXR" functionality grant WordPress access to the HTTP resources named in the WXR.

This is a totally different way to think about powerbox UI, imh

[2018-03-08 15:04] xet7 opened #8 "Sending emails from wordpress"
_From @JamborJan on October 31, 2015 14:46_

To make use of a contact form it would be required that the sandstorm port of wordpress is able to send emails. I know that this will be one of the drivers being available later.

It would be   cool that smtp connections would be allowed e.g. with this plugin:  https://downloads.wordpress.org/plugin/easy-wp-smtp.zip

With the mentioned extension I have

[2018-03-08 15:04] xet7 commented on #8
_From @meitar on April 24, 2016 18:56_

Ahh, this seems similar to sandstorm-io/sandstorm#1902. In fact, maybe this tracker is the appropriate place for that other issue.

[2018-03-08 15:04] xet7 commented on #8
_From @dwrensha on April 25, 2016 20:3_

Hi! I think it would be possible to get this to work the same way that [the RoundCube app](https://github.com/jparyani/roundcubemail) works: by using the ["sandstorm SMTP bridge"](https://github.com/jparyani/sandstorm-smtp-bridge), which in turn uses [`HackEmailSession`](https://github.com/sandstorm-io/sandstorm/blob/v0.160/src/sandstorm/hack-session.capnp#

[2018-03-08 15:04] xet7 commented on #8
_From @meitar on April 25, 2016 20:5_

@dwrensha Can you elaborate on "powerbox support"? (Or link me to an explanation?) I'd be willing to look into this myself because lack of emails from WordPress are a showstopper for my use case.

Thanks again!

[2018-03-08 15:04] xet7 commented on #8
_From @dwrensha on April 25, 2016 23:30_

There's some explanation about the powerbox [here](https://sandstorm.io/how-it-works#powerbox).

[2018-03-08 15:05] xet7 opened #9 "WPML Plugin doesn't work"
_From @tiagoefreitas on November 1, 2015 23:57_

This is one of the most used WP plugins (wpml.org), not working with the following error:

WPML is missing some records in the languages tables and it cannot fully work until this issue is fixed.

Log:

2015/11/01 23:56:22 [error] 36#0: *1938 FastCGI sent in stderr: "PHP message: PHP Warning:  Invalid argument supplied for foreach() in /var/wordpres

[2018-03-08 15:05] xet7 commented on #9
_From @dwrensha on November 2, 2015 2:2_

Interesting! Thanks for reporting this. It sounds like it might be caused by our use of SQLite (via [this plugin](https://wordpress.org/plugins/sqlite-integration/)).

[2018-03-08 15:05] xet7 commented on #9
_From @lulucious on February 7, 2016 18:18_

Same problem... with SQLite... any solution??

[2018-03-08 15:05] xet7 opened #10 "BackupBuddy plugin doesn't work"
_From @tiagoefreitas on November 3, 2015 23:15_

Is there an easy way to migrate to a full (non-standstorm) WP install? I was trying to use this plugin to make it easier but I get the following errors:

2015/11/03 23:12:12 [error] 35#0: *504 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to undefined function mysql_ping() in /var/wordpress/wp-content/plugins/backupbuddy/lib/wpdbutils

[2018-03-08 15:05] xet7 commented on #10
_From @tiagoefreitas on November 3, 2015 23:19_

This one also doesn't work for a different reason:
https://wordpress.org/plugins/wp-db-backup

[2018-03-08 15:05] xet7 opened #11 "this_will_be_replaced_by_sandstorm needs to be replaced even when escaped in JS strings"
_From @kentonv on December 2, 2015 2:36_

http://ninjility.com/, which appears to be hosted on Sandstorm, has this blob at the top:

[code]

As you can see there is a case of this_will_be_replaced_by_sandstorm that failed to be replaced in there, because the '/'s are for some reason escaped (who knew '\/' was a valid escape sequence in Javascript?).

This actually leads to an error reported on the

[2018-03-08 15:05] xet7 commented on #11
_From @mrdomino on March 1, 2016 17:36_

+1

[2018-03-08 15:05] xet7 commented on #11
_From @dwrensha on November 9, 2016 14:26_

Eek, I just noticed that this error shows up in the default configuration. That is, if I create a new WordPress grain, click "Rebuild Public Site", and then visit the site, I see the following error in my browser console:

[code]

[2018-03-08 15:05] xet7 commented on #11
_From @dwrensha on November 9, 2016 14:48_

The reason we see the strange-looking host `this_will_be_replaced_by_sandstorm:10000` has do with our integration with Sandstorm's [web publishing feature](https://docs.sandstorm.io/en/latest/developing/web-publishing/). When you click the "Rebuild Public Site" button, we run a [recursive wget](https://github.com/dwrensha/wordpress-sandstorm/blob/eb10d23

[2018-03-08 15:05] xet7 commented on #11
_From @JamborJan on January 16, 2017 6:59_

Is there any chance that we get this bug solved? As far as I can see it has impact on other issues and possible solutions there, see issue #22. Thanks a lot!

Update: as far as I can see, my point is caused by [this line](https://github.com/dwrensha/wordpress-sandstorm/blob/eb10d239b5927d3f7d8b3bd257e05d84091068dd/publish-it.sh#L4) in the mentioned recur

[2018-03-08 15:05] xet7 opened #12 "Please list the functional differences for WordPress on Sandstorm"
_From @paulproteus on February 6, 2016 22:11_

A user wrote me to say that they wanted that info on the app market.

I can possibly write this as a pull request to `sandstorm-pkgdef.capnp` or if you're willing to David, you could, or maybe the user could.

_Copied from original issue: dwrensha/wordpress-sandstorm#16_

[2018-03-08 15:06] xet7 opened #13 "Support fully private blogs"
_From @garrison on February 13, 2016 0:38_

As discussed on IRC on 2015-02-10, it would be great if wordpress-sandstorm supported private blogs.  Of course, a blog is private until its public link is shared, but once that link is shared it is difficult to revoke.  It would be great instead to be able to disable the public site entirely.

_Copied from original issue: dwrensha/wordpress-sandstorm#17

[2018-03-08 15:06] xet7 commented on #13
_From @garrison on April 1, 2016 4:7_

Quick update: A collaborator clicked the "Regenerate Public Site" button on our private blog, so now we have a public site even though we don't want one, and there is currently no way to undo this.  I also believe the URL is being leaked any time we access the "public" site over an open internet connection, since the full URL can be gained by eavesdropping on

[2018-03-08 15:06] xet7 commented on #13
_From @paulproteus on April 1, 2016 5:21_

Perhaps one fix for this would be to, next the

"Regenerate public site"

button, add a smaller link that says, "Disable publishing", and when you
click it, you get a Javascript prompt that says, "This will remove all
content from your public site. To view the blog, users will have to log in
to Sandstorm. OK?"

Then from the WordPress side, one would "jus

[2018-03-08 15:06] xet7 commented on #13
_From @garrison on April 1, 2016 21:9_

Sounds great to me.

[2018-03-08 15:06] xet7 opened #14 "Publishing website under alternate URL"
_From @zeigerpuppy on February 25, 2016 8:45_

I am trying to setup sandstorm wordpress for external access
Is there a mechanism similar to the Ghost app, where CNAME and TXT records can be mapped to the URL?
I tried using something like the following (names and numbers changed to protect the innocent!)
I am using djbdns and similar code worked fine for Ghost

[code]

However, I get an error on br

[2018-03-08 15:06] xet7 commented on #14
_From @dwrensha on February 25, 2016 13:30_

There should be a "Sandstorm Publishing Information" panel on the admin dashboard. Do the instructions there work for you?

[2018-03-08 15:06] xet7 commented on #14
_From @zeigerpuppy on February 25, 2016 16:21_

Thanks, my mistake, I was using the URL from the >>Settings>>General>>Site Address,

talk about missing the obvious!
out of interest, why are the published URL and the one in the Site address different?

[2018-03-08 15:06] xet7 commented on #14
_From @dwrensha on February 26, 2016 3:28_

I assume you're referring to the "Site Address (URL)" row on the Settings -> General page? That ends up being based on the transient hostname that Sandstorm has given your current session. It needs to be set this way so that WordPress can properly generate internal links as it generates dynamic content. The published URL is static.

[2018-03-08 15:06] xet7 opened #15 "Feature request"
_From @RyanSinger on February 29, 2016 20:18_

Please improve the copy on the DNS configuration section. Maybe create a guide to setting it up with cloudflare for DNS and DDOS and SSL?

![image](https://cloud.githubusercontent.com/assets/2665386/13407686/baaa2b02-def7-11e5-8564-74146c92500c.png)

_Copied from original issue: dwrensha/wordpress-sandstorm#21_

[2018-03-08 15:07] xet7 opened #16 "// urls shouldn't get changed to http"
_From @mrdomino on March 1, 2016 17:41_

I wrote a post with a `script src="//some/url"` in it (specifically, an embedded tweet). In the published site, that became an http link. Since I'm static-publishing over https, that means it didn't resolve.

Can't set up a wordpress instance to try to get a more complete report unfortunately, but hopefully that's a good start.

Acceptable alternatives woul

[2018-03-08 15:07] xet7 commented on #16
_From @JamborJan on November 28, 2016 15:0_

What is missing here is a *force https* feature or something like this. I have the same issue for external content and I'm not sure how to solve it. When I use plugins or themes whcih use e.g. Google Fonts I get:

[code]

I guess Wordpress doesn't detect the fact that the page is https because Sandstorm works like reverse proxy here and inside the grain

[2018-03-08 15:07] xet7 commented on #16
_From @ocdtrekkie on November 28, 2016 15:6_

@JamborJan It's worth noting that when Sandstorm sandboxing is more complete, external content like Google Fonts is likely not going to work at all without some sort of permission grant by Sandstorm.

[2018-03-08 15:07] xet7 commented on #16
_From @JamborJan on November 28, 2016 15:27_

There is a rather philosophical problem with that. Technical wise this might all be true, awesome and secure.  But these things bring problems for a sane usage of the Sandstorm WorPress port. There will pretty often be issues with:
- people want to use themes and plugins which use external resources. It should be possible for the user to allow external

[2018-03-08 15:07] xet7 commented on #16
_From @ocdtrekkie on November 28, 2016 15:31_

All I'm indicating is that the problem needs to be more holistically addressed. I don't know if it's possible for Sandstorm to maybe detect external resources and replace them when it's common ones like jQuery or Google Fonts, or if there needs to be some flavor of Sandstorm driver for external content or something.

[2018-03-08 15:07] xet7 commented on #16
_From @JamborJan on January 16, 2017 6:57_

I was able to always get an `https` prefix when I add this to the top of my template in the `header.php`:

[code]

Unfortunately causes this the following Wordpress on Sandstorm bug for every single link: https://github.com/dwrensha/wordpress-sandstorm/issues/15

So for now this is no work around but maybe soon.

[2018-03-08 15:07] xet7 opened #17 "Activate the wordpress localisation ?"
_From @jeau on March 6, 2016 9:26_

Hi

Why not activate the location of wordpress ?
I can not use Sandstorm as long as users can not use wordpress in their language.

another question ?
Why do not use the official repo which seem's up to date
https://github.com/WordPress/WordPress

Thierry

_Copied from original issue: dwrensha/wordpress-sandstorm#23_

[2018-03-08 15:07] xet7 commented on #17
_From @dwrensha on March 7, 2016 18:42_

As I understand it, support for non-English languages in WordPress works a lot like plugins and themes do. To support French, for example, you need to add a bunch of files like `fr_FR.mo` and  `fr_FR.po` to the `wordpress/wp-content/languages` directory. Unfortunately, unlike with themes and plugins, WordPress does not seem to provide an easy way to upload

[2018-03-08 15:07] xet7 commented on #17
_From @jeau on March 8, 2016 16:33_

Hi David

Thank you very much for your detailed answer.

For users, I need the French language.
However, I think the most used languages will be needed quickly. Perhaps you can start by Spanish, French, Portuguese, and why not the Chinese and Arabic languages.

thanks in advance
Thierry

[2018-03-08 15:07] xet7 commented on #17
_From @paulproteus on August 30, 2016 16:43_

@dwrensha my advice is that we bundle the top 10 Internet languages:

http://www.internetworldstats.com/stats7.htm

Specifically:
- English
- Chinese (Traditional as well as Simplified)
- Spanish
- Arabic
- Portuguese
- Japanese
- Malay
- Russian
- French
- German

I know this might increase the size of the WordPress package, but I think in the increas

[2018-03-08 15:07] xet7 commented on #17
_From @dwrensha on August 30, 2016 18:3_

Sounds good to me. I think each language file is less than 1MB unpacked, this would not cause a huge amount of bloat. I'll look into this next time I update the WordPress package.

[2018-03-08 15:07] xet7 opened #18 "WP is not updateable to 4.5"
_From @jevgen on May 10, 2016 3:4_

Under Sandstorm the latest version is 4.4.2 and it is not updateable to 4.5.

_Copied from original issue: dwrensha/wordpress-sandstorm#24_

[2018-03-08 15:07] xet7 commented on #18
_From @dwrensha on May 10, 2016 20:34_

Hi!

The Wordpress PHP code is in read-only app storage, so the only way to update it is through Sandstorm's usual app-update mechanism. When there is an update on the Sandstorm App Market, it will get pushed automatically to servers that have installed the Wordpress app. I don't currently have an estimate for when that will be.

You may also be interested i

[2018-03-08 15:09] xet7 opened #19 "setup https page with wordpress on sandstorm"
_From @JamborJan on May 14, 2016 14:40_

When I setup a wordpress  page on sandstorm and update my name server as advised I can only open the webpage via http and not https. I know there would be the need to store my private certificate within the wordpress instance or somehow use a similar feature as sandcats has to get letsencrypt certs which ends in the same situation where my private cert and

[2018-03-08 15:09] xet7 commented on #19
_From @dwrensha on May 18, 2016 14:45_

I think we're eventually going to want to support a setup where private keys and certificates are stored in grains, but we're not there yet. Today, getting this to work is going to require configuration outside of Sandstorm.

What error do you get when you try to visit the site on https? Are you using Sandcats?

If you're using nginx or something similar in

[2018-03-08 15:09] xet7 commented on #19
_From @JamborJan on May 18, 2016 20:30_

(I guess) the main problem is that I'm running a Sandstorm instance with Sandcats (basic setup) which doesn't allow me a proxy ngingx between the www and the sandstorm server (see http://stackoverflow.com/questions/33268092/nginx-forward-ssl-connection-to-another-server).

I know  that I can run Sandstorm with an own certificate instead of Sandcats and at l

[2018-03-08 15:10] xet7 opened #20 "RSS links get served as text/html"
_From @mrdomino on July 21, 2016 19:53_

On my private site, if I visit /feed/, I get a response content-type of application/rss+xml. On the public site, that link gets rewritten as /feed/index.html and served as text/html. This seems weird. I can't tell if this is bad or not, aside from causing Chrome to try to render it.

_Copied from original issue: dwrensha/wordpress-sandstorm#26_

[2018-03-08 15:10] xet7 commented on #20
_From @ocdtrekkie on July 21, 2016 21:35_

For what it's worth, I think most web browsers will try to provide a navigable rendered UI for XML files these days. But probably only if they can tell it's XML.

[2018-03-08 15:10] xet7 commented on #20
_From @mrdomino on July 21, 2016 21:36_

There's definitely a difference in Chrome between the two content types: visiting /feed on my private site shows XML source, whereas /feed on the public site shows a badly mangled rendering of the XML as though it were HTML.

[2018-03-08 15:10] xet7 commented on #20
_From @mrdomino on July 21, 2016 21:37_

(Re-reading your comment, I now think you were saying that it's okay to serve up the content as XML. I'd agree.)

[2018-03-08 15:10] xet7 commented on #20
_From @dwrensha on July 21, 2016 21:39_

I think the issue here is that [our wget hack for generating static content](https://github.com/dwrensha/wordpress-sandstorm/blob/master/publish-it.sh) is not smart enough to properly handle XML.

[2018-03-08 15:10] xet7 commented on #20
_From @mrdomino on July 21, 2016 21:40_

I'm now tempted to rewrite that in Python.

[2018-03-08 15:10] xet7 commented on #20
_From @dwrensha on July 21, 2016 21:42_

It's possible that wget has learned some new tricks in the past two years and now has a nice way to deal with this kind of thing.

[2018-03-08 15:10] xet7 commented on #20
_From @paulproteus on July 21, 2016 21:46_

IMHO we should use a WordPress plugin that is specifically designed for turning a WordPress site static, such as:
- https://wordpress.org/plugins/simply-static/
- https://wordpress.org/plugins/really-static/

rather than rolling our own solution that will run into WordPress-specific subtleties that we will have to reinvent solutions for.

[2018-03-08 15:10] xet7 commented on #20
_From @mrdomino on July 22, 2016 21:32_

Assuming that's the road we want to go down, I'm certainly willing and possibly able to make time to do it. @dwrensha what do you think?

[2018-03-08 15:10] xet7 commented on #20
_From @dwrensha on July 23, 2016 0:57_

Yeah, it'd be great if we could get an existing plugin to do the hard work for us. Last time I tried to go that route, I think I ran into difficulties regarding directory structure, and maybe I also hit sqlite-vs-mysql problems. But it seems like there ought to be a way to make it work, so I encourage you to try.

[2018-03-08 15:10] xet7 commented on #20
_From @paulproteus on July 23, 2016 1:2_

FWIW, I also personally think that MySQL would be a fine database for the Sandstorm WordPress package, to maximize compatibility. That's a separate topic to discuss on a separate issue perhaps.

[2018-03-08 15:10] xet7 opened #21 "Better static publishing"
_From @mrdomino on July 25, 2016 11:54_

In #26 @paulproteus writes:

"""
IMHO we should use a WordPress plugin that is specifically designed for turning a WordPress site static, such as:

https://wordpress.org/plugins/simply-static/

https://wordpress.org/plugins/really-static/

rather than rolling our own solution that will run into WordPress-specific subtleties that we will have to reinvent sol

[2018-03-08 15:10] xet7 commented on #21
_From @mrdomino on July 25, 2016 11:54_

Feature request for such a plugin: preserve 3xx redirects.

[2018-03-08 15:10] xet7 commented on #21
_From @mrdomino on July 25, 2016 11:55_

In #26 @dwrensha writes:

"""
Yeah, it'd be great if we could get an existing plugin to do the hard work for us. Last time I tried to go that route, I think I ran into difficulties regarding directory structure, and maybe I also hit sqlite-vs-mysql problems. But it seems like there ought to be a way to make it work, so I encourage you to try.
"""

[2018-03-08 15:10] xet7 commented on #21
_From @mrdomino on August 5, 2016 19:44_

FYI, I'm unlikely to do this any time soon. It'll be months if at all -- there's too much higher-priority stuff in the backlog.

[2018-03-08 15:11] xet7 opened #22 "Wordpress migration issue"
_From @cbyreddy on August 12, 2016 21:19_

I am using a plugin (All in One WP Migration) to migrate an existing WordPress site to sandstorm.
When I try to import the created file which is around 300MB, the plugin just hangs at 0%.
This is not a plugin issue since it is working on other WP installation.

Is this a Sandstorm limitation?

_Copied from original issue: dwrensha/wordpress-sandstorm#28_

[2018-03-08 15:11] xet7 opened #23 "Permalinks change every time the grain is opened"
_From @JamborJan on November 28, 2016 15:1_

As the name says, *perma*links shout stay the same, always.

# Current situation
Always after re-opening a grain the permalink will change:

![bildschirmfoto_2016-11-28_um_16_02_08](https://cloud.githubusercontent.com/assets/7508960/20673180/6a85f2aa-b584-11e6-8e84-20209bd00e0e.png)

![bildschirmfoto_2016-11-28_um_16_08_27](https://cloud.githubuserconte

[2018-03-08 15:12] xet7 opened #24 "WordPress APP security vulnerability issue in Sandstorm platform"
_From @akustolin on February 18, 2017 4:15_

Dear dwrensha,
I found a potential security vulnerability in WordPress with Sandstorm platform.
May I have your e-mail address ?

_Copied from original issue: dwrensha/wordpress-sandstorm#30_

[2018-03-08 15:12] xet7 commented on #24
_From @dwrensha on February 18, 2017 12:24_

david@sandstorm.io

[2018-03-08 15:12] xet7 opened #25 "404s are not nice formatted"
_From @JamborJan on February 26, 2017 20:30_

Usually templates offer nice formatted 404 error pages including the possebility to incude a search form etc. Unfortunately the sandstorm version doesn't have that.

I'm not quite at the point where I can nail down the root cause but I will try to find something.

@dwrensha can you maybe please add some intsruction to [README.md](https://github.com/dwr

[2018-03-08 15:12] xet7 opened #26 "Pages which are not referenced in menus are missing (404s)"
_From @JamborJan on March 7, 2017 5:56_

When you are creating a page in Wordpress which ist not referenced in an active and visible menu it's not copied to the public static space when rebuilding the page. You'll always get 404s when you try to open that specific page. When you download the backup of a worpress grain the page is also missing in the www directory.

_Copied from original issue: dwr

[2018-03-08 15:13] xet7 opened #27 "Installing certain Plugins causes Error 500"
_From @JamborJan on February 19, 2018 19:29_

Installing certain plugins like:
- [Divi Builder](https://www.elegantthemes.com/plugins/divi)
- [Yoast](https://yoast.com/wordpress/plugins/seo/)

cause a grain to constantly create a `500: Internal Server Error`.

![bildschirmfoto 2018-02-19 um 20 23 13](https://user-images.githubusercontent.com/7508960/36394060-c45eb7b4-15b2-11e8-8a0e-636b096f6153.pn

[2018-03-08 15:34] jeau commented on #17
Yeah, I totally agree. Let's try this first set of languages.
Great thanks

[2018-03-08 15:52] xet7 opened #28 "capnp build error"
_From @xet7 on February 7, 2018 21:41_

@kentonv

When I try to build wordpress-sandstorm .spk file in vagrant with this script:
https://github.com/wekan/wordpress-sandstorm/blob/master/build-spk-in-vagrant.sh

I get this error when building capnp. How can this be fixed?

[code]

BR,
xet7

_Copied from original issue: wekan/wordpress-sandstorm#1_

[2018-03-08 15:52] xet7 commented on #28
_From @kentonv on February 11, 2018 6:18_

It appears as if Sandstorm isn't installed inside the Vagrant image, which is weird. Maybe there's some more initialization that needs to be done by vagrant-spk? TBH I have never used vagrant-spk so I don't really know. Maybe @dwrensha (who created the Wordpress package) has an idea.

[2018-03-08 15:52] xet7 commented on #28
_From @dwrensha on February 11, 2018 14:3_

~Yeah I probably forgot to include the Sandstorm capnp files in the vagrant-spk build: https://github.com/dwrensha/wordpress-sandstorm/commit/17d397180e48282fe37d432aa8c9eb4d2786f4c8~

EDIT: hm. Those sandstorm files really should be there. When I do `vagrant-spk up` and `vagrant-spk ssh`, I see them in `/opt/sandstorm/`

[2018-03-08 15:52] xet7 commented on #28
_From @dwrensha on February 11, 2018 14:31_

When I try to build https://github.com/dwrensha/wordpress-sandstorm, it looks like I get farther than you did, but I still hit an error:
[code]

I conjecture that this has to do with the fact that the `/vagrant` directory is synced between the host and guest.

[2018-03-08 15:52] xet7 commented on #28
_From @kentonv on February 11, 2018 21:33_

Ugh, apparently shared folders don't implement writable mmap(). I'm surprised they can get away with that. I guess maybe the capnp C++ output plugin needs to go back to using write(). Sad.

https://github.com/capnproto/capnproto/issues/635

[2018-03-08 15:52] xet7 commented on #28
This is the PR they used to fix their Vagrant 1.9.6 downloading the sandstorm version of the box: github.com/sandstorm-io/vagrant-spk/pull/209

Got that from @ocdtrekkie . I did change previously to probably broken box version.

[2018-03-08 15:52] xet7 commented on #28
_From @JamborJan on March 6, 2018 19:38_

Hi guys,

I have updated my fork of wordpress for Sandstorm (see https://github.com/JamborJan/wordpress-sandstorm/commit/cb93151f8b0901b6db1eb85aec7dbc28e230a4ef). Now I'm running into a different error:

[code]

I was not able yet to dig a bit deeper into these error messages but will do so as soon as possible. I wanted to leave a note here just in case s

[2018-03-08 15:52] xet7 commented on #28
_From @ocdtrekkie on March 6, 2018 19:44_

@JamborJan payments.capnp is a weird thing to show up here. I know that @kentonv just merged that back into Sandstorm proper, so it's possible something's missing there, and it's never been an issue with building before for that reason: https://github.com/sandstorm-io/sandstorm/pull/3042

[2018-03-08 15:52] xet7 commented on #28
@JamborJan

No problem, a moment ago I did fetch and merge changes from your repo to this repo, and also add some more modifications for php5 to php7. I will look at app key when bulding wp-sandstorm works, and there is something worth releasing.

[2018-03-08 15:52] xet7 commented on #28
_From @JamborJan on March 7, 2018 8:3_

@xet7

You also took my [sandstorm-pkgdef.capnp](https://github.com/wekan/wordpress-sandstorm/blob/master/.sandstorm/sandstorm-pkgdef.capnp). I can send you my private app key (over another secure channel) so that you are able tu build packages. If this is okay for you, I would be able to delete my fork and use yours instead.

[2018-03-08 15:53] xet7 commented on #28
@JamborJan

Yes it's OK. You can install desktop or mobile client of https://about.riot.im so we can enable end-to-end encryption, my Riot nickname is xet7wekan

[2018-03-09 09:45] JamborJan commented on #28
Hey @ocdtrekkie, did I get [your comment](https://github.com/wpsandstorm/wordpress-sandstorm/issues/28#issuecomment-371529450) right and the payments.capnp will be analysed or is there something I need to do because I did something wrong when I tried to build the Wordpress app?

[2018-03-09 23:17] ocdtrekkie commented on #28
I am just suspecting it's a new problem cause by the fact that payments.capnp is new to the Sandstorm repo. Kenton should be around this weekend and can probably explain why it's showing up as an error.

[2018-03-10 20:55] kentonv commented on #28
It looks like there's a bug in the makefile:

    capnp compile --src-prefix=/opt/sandstorm/latest/usr/include -oc++:tmp /opt/sandstorm/latest/usr/include/sandstorm/*.capnp

This line is missing an argument:

    -I/opt/sandstorm/latest/usr/include

It fails on payments.capnp because that file contains absolute imports rather than relative, which is vestigial since it used to live in Blackrock rat

[2018-03-11 01:59] xet7 commented on #28
With latest changes in git I have this progress, after installing vagrant:

[code]

Then inside VirtualBox VM window, where is username: vagrant password: vagrant
[code]
Then on Firefox ESR http://local.sandstorm.io:6080
![wp-sandstorm](https://user-images.githubusercontent.com/15545/37248642-600486ee-24e0-11e8-8a56-248ce5b3b0cc.png)

![wp-sandstorm2](https://user-images.githubusercontent.com/1554

[2018-03-11 02:08] xet7 commented on #28
Related https://github.com/sandstorm-io/sandstorm/issues/3054

[2018-03-12 07:35] JamborJan commented on #28
I guess it's about the new PHP7 version according to the error log. I tried to run and enter a grain to figure out what is wrong but I ran onto another issue (see https://github.com/sandstorm-io/vagrant-spk/issues/213).

I've realised that there are [some php config files](https://github.com/wpsandstorm/wordpress-sandstorm/tree/master/etc/php) in the repo. There is one line which seems to be wrong

[2018-03-12 08:04] xet7 commented on #28
@JamborJan

Yes, it did not work, it caused error about symlink to symlink, or something like that.

[2018-03-12 08:05] xet7 commented on #28
@JamborJan

I removed that symlink from repo.

[2018-03-12 10:48] JamborJan commented on #28
We are able to build the app again. For details see https://github.com/wpsandstorm/wordpress-sandstorm/commit/fec80241dd53a8e70074b2706835e1bdbaeb62d9

Is there anything left we need to clean up or can we close this issue @xet7 ?

[2018-03-12 11:49] #28 closed

[2018-03-12 13:30] ocdtrekkie commented on #28
I am super excited that progress has been made here!

[2018-03-12 13:54] ocdtrekkie opened #29 "Metadata updates"
Reminder on metadata currently out of date, close when resolved:

- David's email address is still the package contact. (Who is the contact for "wpsandstorm"?)
- The source code URL still goes to David's repo.

[2018-03-13 07:37] JamborJan opened #30 "Build Process"
I'd like to discuss a build process which is suitable for frequently updating Wordpress on Sandstorm. This should include as much as possible automation in the future. For the beginning we can keep it simple and do things manually.

I was thinking of something like this. As said before: most steps should be automated in the future if possible.

- [ ] New Release of WordPress is available
- [ ] Ren

[2018-03-13 07:47] JamborJan commented on #29
I updated the `sandstorm-pkgdef.capnp` file according to the latest default template, see https://github.com/wpsandstorm/wordpress-sandstorm/commit/80700ac09cf58957c367bb64f6a681c821438cfd.

I allowed myself to add my Keybase details as long as @xet7 and I have no other solution for publishing an app as a team rather than a individual developer.

Please feel free to reply and / or criticise this.

[2018-03-13 07:47] #29 closed

[2018-03-13 12:06] ocdtrekkie commented on #30
Feel free to send test versions to the app store. I won't approve them unless they work, and can hold until you directly tell me to approve it. Until approved, the experimental store is a great place to stash test versions you want people to try.

[2018-03-13 12:09] ocdtrekkie commented on #29
I have no problem with this as long as xet7 is happy. I just wanted to make sure David got cleared out, as his usual request is such if someone else is taking over publishing.

[2018-03-13 12:20] JamborJan commented on #18
The "sandstormized" Wordpress repository has been updated: https://github.com/wpsandstorm/wordpress/commit/f898ea2774be4b46c39e2454ffbd3acfb03ab10e

[2018-03-13 14:15] JamborJan commented on #18
Hey @xet7 if you have some time, please try and pull the latest code and run a complete `vagrant-spk vm up` and `vagrant-spk dev`. You should get the latest Wordpress version 4.9.4 and the latest Wordpress importer too. Please let me know if you encounter any issues.

When everything is fine according to your test we can close this issue. There should be a final testing round when we have killed s

[2018-03-13 15:13] JamborJan commented on #22
I've checked the Plugin [All-in-One WP Migration](https://wordpress.org/plugins/all-in-one-wp-migration/).

The import as well as the export seem to get stuck when trying to access the database which is Sqlite for Worpress on Sandstorm. Below is the mentioned screen, where the import process is stuck:

![bildschirmfoto 2018-03-13 um 15 46 57](https://user-images.githubusercontent.com/7508960/37349

[2018-03-13 15:17] JamborJan commented on #5
Seems that this problem doesn't occur anymore. Will close the issue. Anybody who is seeing a similar behaviour can open a new issue and we will take a look at it.

[2018-03-13 15:17] #5 closed

[2018-03-13 15:37] JamborJan commented on #27
After having updated to the latest Wordpress version including php7 Divi Themes and Divi Builder are working now in Dev-Mode. Needs to be tested again with the final release candidate.

[2018-03-13 15:39] JamborJan commented on #27
Same for the Yoast plugin, works now in Dev mode, needs to be tested again with the final release candidate.

[2018-03-13 15:43] ocdtrekkie commented on #27
There's a super valid concern here that while all plugins will probably never officially work with Sandstorm, bad plugins can definitely hose WordPress on Sandstorm. (And actually, buggy plugins can hose regular WordPress installs too.) When a WP install gets hosed by a plugin, you generally need to remove it manually from the file system, which isn't possible with Sandstorm.

Would it be beyond t

[2018-03-13 15:45] ocdtrekkie commented on #27
In an ideal case, users should backup their grains before adding plugins, but given that no automatic process for rolling back a grain exists, and the process of downloading a backup of your hosed grain, editing it to remove the offending plugin, and reuploading the grain is relatively painful, it'd be good to find a way to dodge this. (Really, WordPress itself should have a better way of handling

[2018-03-13 16:13] #6 closed

[2018-03-13 16:17] JamborJan commented on #7
Hey @ocdtrekkie can you give us some information about the current status of the power box feature? According to what I understand here is the problem, that the media is not imported during the import-process because Wordpress cannot reach the outside-the-grain world. Thats where we will have to use power box.

[2018-03-13 16:19] ocdtrekkie commented on #7
There currently isn't a good way to do this. My hope is eventually you will be able to make a powerbox request to grant HTTP access to an arbitrary domain, but no such feature exists at present.

Currently if you can pull this client side through the user's browser, it would work, but that will eventually change.

[2018-03-14 09:16] JamborJan commented on #30
thanks @ocdtrekkie, sorry when I ask something which is somewhere documented and I didn't check: how can I push an app to the experimental app store?

I have created a very early version of the app which basically only contains an updated environment (stretch php7), the latest Wordpress version 4.9.4 plus plugin updates.

See: https://github.com/wpsandstorm/wordpress-sandstorm/releases/tag/v12

[2018-03-14 11:49] ocdtrekkie commented on #30
The normal instructions to publish to the market puts stuff in experimental automatically. Https://apps.sandstorm.io/?experimental=true currently has a broken Wekan update and a broken Gogs update. :)

[2018-03-14 12:09] JamborJan commented on #30
I tried to publish the app to the experimental market. Unfortunately it didn't work.

[code]

The host URL `alpha-api.sandstorm.io` resolves for me to `107.178.223.140` which seems to be down, at least a ping gets a time out.

[2018-03-14 12:11] ocdtrekkie commented on #30
Hmmm. Cem managed to push his Gogs release yesterday, so I don't believe it is currently broken.

[2018-03-15 10:34] JamborJan commented on #30
Hmmm, today it worked, maybe a hickup somewhere in between. PLease don't push to the main store yet. We will add more fixes but it would be cool if some people would test the build as the whole environment has been updated as well as Wordpress itself. Thanks!

[2018-03-15 13:30] ocdtrekkie commented on #30
I am going to send a mailing list post about some of the new updates lately, I'll mention a desire for people to test it.

[2018-03-16 23:46] ocdtrekkie opened #31 "Screenshots should be updated"
We should get a nice (larger) image of WordPress's control panel home as seen in Sandstorm (with the Rebuild Public Site button visible), and of one or two blogs hosted via Sandstorm, and replace the aging screenshots David used.

They should then be minified as much as possible with https://tinypng.com/ so it doesn't cap out the metadata size limit on Sandstorm.

[2018-03-19 13:54] JamborJan opened #32 "Sometimes the app will leave the sandstorm frame"
This causes the app to shut down in the hidden backend process then.

Maybe it has to do something with these changes: https://github.com/dwrensha/WordPress/commit/81760f7b90ce3c347b72748f7c68935d6149493e

We have skipped them in the new build of the Wordpress Sandstorm package.

[2018-03-28 03:00] ocdtrekkie commented on #30
What's the status of this being publishable? #32 would be regression from the old version, so that should probably be fixed first.

[2018-04-06 10:07] JamborJan commented on #32
Fixed with https://github.com/wpsandstorm/wordpress/commit/0ceea2c481254b089a889bcaf1bde350268b17d9

[2018-04-06 10:15] JamborJan commented on #30
#32 has been fixed with https://github.com/wpsandstorm/wordpress/commit/0ceea2c481254b089a889bcaf1bde350268b17d9

new beta release with this fix has been uploaded to github and pushed to the Sandstorm alpha app market. More quick fixes will be applied and then we can do the testing for a release candidate.

[2018-04-06 17:52] JamborJan commented on #32
If you have some time @xet7, please test if you see any issues where Wordpress leaves the Sandstorm frame.

[2018-04-06 17:57] JamborJan commented on #24
Dear @akustolin please get in touch with me via keybase chat: https://keybase.io/jamborjan. I'm interested to hear what you have found. Thanks for getting in touch with us and sorry for the long delay.

[2018-04-12 19:05] JamborJan commented on #32
I published the final release to the Sandstorm app market as well as to github.

https://github.com/wpsandstorm/wordpress-sandstorm/releases/tag/v12

[2018-04-12 19:05] #32 closed

[2018-04-12 19:06] JamborJan commented on #18
I published the final release to the Sandstorm app market as well as to github.

https://github.com/wpsandstorm/wordpress-sandstorm/releases/tag/v12

We have now the latest Wordpress version 4.9.5 as well as an up to date environment (base image, php 7.2, sqlite etc.)

[2018-04-12 19:06] #18 closed

[2018-04-12 19:18] JamborJan commented on #30
The current process of creating new wordpress packages for sandstorm includes a lot of manual tasks but it's documented here and we should be able to have quicker and frequenter updates now: https://github.com/wpsandstorm/wordpress-sandstorm/wiki

If anybody is able to help automate this process I'm very happy to learn something :-)

[2018-04-12 19:18] #30 closed

[2018-04-12 19:19] JamborJan commented on #24
I'm closing this issue for now. If there is still something to fix after we updated the whole app, please let me know.

[2018-04-12 19:19] #24 closed

[2018-04-13 00:09] ocdtrekkie commented on #31
Fixed by 088150b301107e9b62fc4bd0651ad40a1d75dd6c

[2018-04-13 00:09] #31 closed

[2018-06-24 18:33] cyberzenk99 commented on #11
Did you find a solution for this?  I have the same problem.

[2018-06-24 18:40] xet7 commented on #11
@cyberzenk99

I have not looked at this yet, because I'm mostly concentrating to maintaining Wekan https://wekan.github.io .

Currently @JamborJan maintains this WordPress for Sandstorm.

I presume fixing this would require somebody looking at this or related repos source code, and find where to remove that text etc. Contributions welcome :)

[2018-06-24 18:44] JamborJan commented on #11
I have some experimental stuff but nothing 100% works yet. I’ll create a branche for this bug to share my current status of the bug fix.

[2018-06-24 19:17] cyberzenk99 commented on #11
Thank you for the quick reply Lauri (@xet7 ).   I understand there's a lot to maintain.  With just a few bugs fixed, Sandstorm would be an amazing platform.  By the way, you're doing a great job with Wekan too.

And thank you @JamborJan .  If you could give me any kind of fix, whether it's editing some code manually, or any other ideas, I would be so thankful.  Even if it's experimental, I can do

[2018-06-24 19:22] cyberzenk99 commented on #11
@xet7  @JamborJan   As an added note, I would love to give a contribution, just let me know where to send it.  :-)

[2018-06-24 19:27] xet7 commented on #11
@cyberzenk99

For Wekan related contributions, you can contact me by email x@xet7.org

[2018-06-24 19:49] cyberzenk99 commented on #11
@JamborJan should post his email too.  :-)

[2018-06-25 18:40] JamborJan commented on #11
Hey @cyberzenk99,

I was able to implement a quick and dirty fix for the java script issue (see [this](https://github.com/wpsandstorm/wordpress-sandstorm/blob/bugfix-issue-11/publish-it.sh#L23-L24) for details). It's not nice but it solves the issue with the replacement of `this_will_be_replaced_by_sandstorm`.

But in my test cases I now get another error message in the browsers console:

[code]

[2018-06-25 19:06] ocdtrekkie commented on #11
Are you sure `wp-emoji-release.min.js` didn't somehow get dropped from your beta package? It doesn't look like you submitted any chances to the sandstorm-files.list file.

[2018-06-25 19:17] JamborJan commented on #11
You are right, it seems so. But as I did test with `vagrant-spk dev` including building pages any missing files should have been added to the file list. Plus the file is in the list and has been there before:

[code]

Thanks for your thoughts and input anyway. It always helps to see issues from another perspective.

[2018-08-06 18:35] JamborJan opened #34 "New Gutenberg editor not working in Sandstorm"
Currently I excluded the new Gutenberg editor in the Sandstorm Port of WordPress because an error occurs. Saving a new post or page doeasn't work. In the browser console you can see:

[code]
and
[code]
I'll take a look at this and try to include the Gutenberg editor in one of the next packages of the app.

[2018-09-03 12:28] JamborJan commented on #17
Hey @jeau tanks again for your help with the languages. I was able to create a build. To ensure that we are talking about the same result: it will now be possible to change the back-end language in WordPress for Sandstorm. This has no impact on the frontend and how visitors see a page. Okay?

Right now I'm still having an issue with the display of the language, there is no text but the code displa

[2018-09-03 12:49] jeau commented on #17
Hi @JamborJan

Thanks for integrating these translations, I had seen this trick, and I tried to find a solution without success. I didn't look any further.

Outside Sandstorm, I think Wordpress uses some kind of webservice to get the list of available translations. In this case, Wordpress gets the labels. This is not the case when we put the files directly.

I'll do some investigation

[2018-09-03 12:55] JamborJan commented on #17
Hey @jeau thanks for the quick reply.

One feedback from my tests so far: it's working quite well. The only not translated point so far are the Sandstorm publishing information:

![bildschirmfoto 2018-09-03 um 14 53 23](https://user-images.githubusercontent.com/7508960/44987910-2de28380-af89-11e8-92fc-c581f73e2d50.png)

They are based on this: https://github.com/sandstormports/wordpress-sandstorm/

[2018-09-03 13:07] jeau commented on #17
hope I can do this work as soon as possible, the next few days

[2018-09-03 15:09] JamborJan commented on #17
Again thanks a lot @jeau. I was able to build a test package: https://github.com/sandstormports/wordpress-sandstorm/releases/tag/15

You can use it for testing. It should not destroy anything but please backup all WordPress grains before using it.

[2018-09-06 06:00] jeau commented on #17
thanks
I'm testing but currently I can't activate the localization correctly for this part
th

[2018-09-06 21:41] jeau commented on #17
@JamborJan I have found a solution to this issue. I have to test it but I'm still busy. I will publish a PR this weekend

[2018-09-10 10:55] JamborJan commented on #17
Dear @jeau thanks a lot for all your help with this. I've created a new package and published it also to the sandstorm app store. You can also find it here on github: https://github.com/sandstormports/wordpress-sandstorm/releases/tag/15

If there are any questions or if you have other ideas or requests for Wordpress on Sandstorm, please let me know.

[2018-09-10 10:55] #17 closed

[2018-09-10 10:57] JamborJan commented on #11
This still seems to be an issue. Will investigate further.

[2018-09-11 12:46] JamborJan opened #36 "Add Finnish FI translation"
As discussed with @xet7 we will add the Finnish (fi) [language pack](https://translate.wordpress.org/locale/fi).

@xet7 can you please edit [this file](https://github.com/sandstormports/wordpress-sandstorm/blob/master/read-only-plugins/mu-plugins/languages/sandstorm-integration-fi_FI.po) and translate the text parts into Finnish? Please asign the task to me when your done and I'll cfeate a new pac

[2018-09-11 13:14] xet7 commented on #36
Done.

[2018-09-11 20:05] JamborJan commented on #36
![bildschirmfoto 2018-09-11 um 21 31 27](https://user-images.githubusercontent.com/7508960/45384000-08025200-b60d-11e8-8641-0d52326b41e5.png)

Thats a lot of [Umlaute](https://translate.google.com/#auto/fi/Umlaute)! Even the Finnish word for "Umlaute" has 3 times ä and an ö! What a beautiful language.

I've pushed a new version to the app store and added the same also here as release on github: ht

[2018-09-11 20:05] #36 closed

[2018-11-08 21:40] tian2992 commented on #34
Is WP-REST api working?

[2018-11-08 21:42] tian2992 commented on #21
I'm interested in this issue, I have used Staticpress, what would be some possible pain points? http://en.staticpress.net/ @

[2018-11-09 13:33] JamborJan commented on #34
Hey @tian2992, inside the application container where wordpress is running in there should be no problem with the API. Do you know any test / trick to find out that this is not an issue?

After a blog post / page is saved and the website is published (the sandstorm specific button) there should be no dynamic component working as only a complete static copy if the website is published.

[2018-11-11 20:20] JamborJan commented on #21
Hey @tian2992 thanks for your reply. I’ll have to get my head around this issue again. I’ll try to answer within the next 2 or 3 weeks. Hope that’s enough.

[2018-11-30 13:55] JamborJan commented on #21
Short update: right now I have no chance to take a look at this. Sorry. As soon as my backlog is decreasing I’ll pick this issue up again.

[2019-01-03 21:34] searoso opened #37 "loss of new posts"
**Very often** after making up a post I see following message, and I should **redo complete post**! There was a case I get a lot of it back with a note that it found more information in my browser than in the draft. But most of the time I just left without anything. Could it be solved with more frequent draft saving inside WP?

Will keep an eye on it, if it occurs after creating a post in the wind

[2019-01-04 02:52] searoso opened #38 "Media loading doesn't work in AOSP"
Can't upload a file using _AOSP Browser 8.1.0_.
WP offers two loaders, but both doesn't manage to start loading a file.

[2019-01-04 02:57] ocdtrekkie commented on #38
I am not sure this will help, but you might try loading the WordPress frame in a new tab (it'll appear to have a random-ish subdomain, outside of the Sandstorm UI) and then seeing if the upload works. It'd help narrow down the cause potentially, if it worked.

[2019-01-04 05:47] searoso commented on #37
If it will be of assistance, I just got this _error_ creating a page. _It was **not inside** of Sandstorm._

[code]

[2019-01-04 06:09] searoso commented on #38
Hint me how to do it, pls. I don't understand what to do yet.

[2019-01-04 06:32] ocdtrekkie commented on #38
Well, on a desktop, I'd right-click the app, go to "This Frame", and select "Open in new tab". I'm not sure if there's a way to do it on a mobile browser.

[2019-01-04 16:02] searoso commented on #38
Thanks! Never tried this before. ))

I don't experience particular problems with desktop and media (used it only once yet). But fresh and clean Android can't load the pictures. (I stress that it's _clean_: AOSP.)

[2019-01-05 23:44] searoso commented on #37
I suppose it's kind of problem with background draft saving. In right bottom corner of editor system reports _draft saving..._, but without Sandstorm it usually blazing fast. In Oasis it can't save draft in the bg.

[2019-01-06 08:59] JamborJan commented on #37
Thanks for taking the time to open this and also the other issues you posted. I’ll take a look at this. As I’m pretty busy right now I cannot promise when I’ll have a solution to this. But I’ll do my best to include fixes for all the issues you have posted.

Again thanks for contributing.

[2019-01-08 18:42] searoso opened #39 "'Restore this revision' button is inactive at the revisions compatisment screen."
Hello!
Does somebody have this function working?

[2019-01-08 19:33] searoso commented on #23
Is there any kind of work around possible? E.g. to manually insert in editor some wildcard which will be rewrited in view mode, and manually in editor write path to post "2019/01/name-of-post" next to it.

[2019-01-09 06:35] JamborJan commented on #23
Hey @searoso, right now its by design that the permalink changes. It is a security feature that each grain gets a random unique i'd when you start up a grain.

Even when I was the one who opened the issue back in 2016: I never had a real requirement where I needed these permalinks as the part with the random ID is anyway not what the visitor sees. For example:

![ad458be2-3467-48de-a614-62bf703119

[2019-01-09 11:44] searoso commented on #23
Thank you for so deep answer!

Use case for this one is management of crosslinks in editor. When I add a link via editor button with integrated search by post name, it inserts link to current grain. (I use hashtagger plugin, which solves similar thing gracefully: generate links in the viewer. But its a wp-plugin.)

Sandstorm-wordpress offers a unique feature: secure by design private WordPress (ju

[2019-01-09 17:06] ocdtrekkie commented on #23
@JamborJan While it would be a somewhat manual step, for heavy WordPress-on-Sandstorm users, wouldn't it be most ideal to allow the user to set the base URL for the permalinks?

[2019-01-09 17:12] ocdtrekkie commented on #23
@searoso The big challenge is that because the WordPress package on Sandstorm is geared for web publishing, presumably the goal should be to work well for people web publishing. (Which, mind you, the current configuration doesn't work for either, see previous comment.)

I'm curious why WordPress is your ideal "private blog" setup on Sandstorm. Is this content you're keeping solely for yourself, or

[2019-01-12 11:31] searoso commented on #23
And I remember someone around who use Sandstorm-wordpress in private mode for their team. (They were upset someone clicked _publish_ button, and @xet7 proposed to add _unpublish_ next to it.)
I can't imagine what do they use instead of URLs to refer for posts to each other. (I used the links in personal task management.) But it's a again a point for option **B** (that regards DNS).

[2019-01-18 11:02] JamborJan commented on #37
Unfortunately I was not able to do anything here yet. Due to many ongoing projects I’ve very limited resources. Nevertheless: it’s important for me to keep this alive and I’ll do my best to start working on this during the next weeks.

[2019-01-21 00:22] searoso opened #40 "'bulk actions' doesn't work"
I added a tag two times to 100 posts, and nothing changed. Though I get "100 posts updated." message every time.

[2019-03-07 00:55] tian2992 commented on #3
I see it as it probably should be a diff that is ran within the package build process, this way we have repeatability and the chance to update with as few delay as possible.

[2019-03-07 20:15] JamborJan commented on #3
Do you have the chance to code an example? Any help or suggestion is welcome. Thanks for taking to contribute!

[2019-07-02 12:55] seyo-IV opened #41 "licensing server is unable to connect with my wp site"
I have a plugin(FileManager and Backup Guard) installed on wp. Somehow I can't register the product because my site is unable to connect to the licensing server. Is there a reason for blocking it?

[2019-07-02 14:06] xet7 commented on #41
@seyo-IV

What is link to those plugins?

[2019-07-02 14:10] xet7 commented on #41
I don't know what file manager is used for. It's already possible to add images etc to WordPress.

You can create backup of any Sandstorm grain like WordPress, Wekan etc by clicking arrow down button on top black menu bar.

[2019-07-02 14:19] xet7 commented on #41
Here is how backups are made at Sandstorm:
https://docs.sandstorm.io/en/latest/administering/backups/

There is no auto grain backup yet:
https://github.com/sandstorm-io/sandstorm/issues/1324

Sandstorm WordPress grain is only running when someone is logged into Sandstorm, and has opened WordPress grain for editing etc. It generates static website for website users. Sandstorm Wekan uses SQLite as

[2019-07-02 15:48] ocdtrekkie commented on #41
The biggest issue @seyo-IV is having is particularly non-trivial to fix: Sandstorm is designed to prevent applications from "calling home", so it's near impossible for a plugin to talk to it's licensing server. Ideally Sandstorm would have a good feature for you to permit the server to talk to a specific domain so it could complete a licensing check, but that has not been implemented in the Sandst

[2019-07-02 20:37] xet7 commented on #41
When you download Sandstorm Wekan grain, it's .zip file. You could unzip it, add license key, zip it and upload back to Sandstorm. But I don't know how to do it online directly.

[2019-08-16 06:33] #41 closed

[2020-08-09 04:23] easaw opened #42 "Why is this so out of date?"
Seems odd to be a whole minor version behind? :/

[2020-08-09 05:21] ocdtrekkie commented on #42
The Sandstorm community member who was most recently maintaining this package isn't active in Sandstorm development anymore, and nobody has shown interest in taking it on.

As a note though, Sandstorm's security model makes apps impervious to the vast majority of security flaws by design: While running an out of date WordPress would be risky on most other platforms, it's pretty safe on Sandstorm.

[2021-06-18 07:50] dominicporter opened #43 "RSS Feed doesn't contain valid links"
I have my WP site set up to send mailchimp emails for new posts. The URLs in the emails (or the 'view in browser pages' of the emails) don't work. Having done some digging, I used this feed validator on my site:

https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fsmallworldadventures.net%2Ffeed%2F

and right at the top I see:

[code]

This may just be a config thing I have wrong... if so may